<h1>美食達人</h1><br>
<div class="container">
  <div class="row">
      <ul class="nav nav-tabs">
       <li role="presentation">
       <%= link_to '首頁', root_path %>
       </li>

       <li role="presentation">
       <%= link_to '最新動態', feeds_restaurants_path %>
       </li>

        <li role="presentation">
        <%= link_to 'TOP 10 人氣餐廳', ranking_restaurants_path %>
        </li>

        <li role="presentation" class="active">
        <%= link_to '美食達人', users_path %>
        </li>

      </ul>
  </div>
</div>
<br>
<ul>
  <% @users.each do |user| %>
    <%  if user!= current_user %>
       <li>
         <%= user.name %>
         <%= render partial: "shared/follow", locals: {user: user} %>
       </li>
    <%  end  %>
  <% end %>
</ul>
