<div class="divbk">
</div>
<div class="divwh">

<h2>登入畫面</h2><br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <form class="form-horizontal">
    <div class="form-group">
        <label for="account" class="col-sm-2 control-label"> <%= f.label :email %></label>
        <%=f.email_field :email, autofocus: true , class:"form-control",id:"account",placeholder:"Email" %>
    </div>
        <div class="form-group">
          <label for="password" class="col-sm-2 control-label"> <%= f.label :密碼%><br /> </label>
          <%= f.password_field :password, autocomplete: "off",class:"form-control" ,id:"password",placeholder:"密碼"%>
      </div><br>
          <div class="form-group">
            <button type="submit" class="btn btn-default">登入</button>
              <div style="display:inline; margin-left: 10px; margin-right: 10px;">
              <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
              <% end -%>
            </div><br><br>
            <%= render "devise/shared/links" %>
           </div>
  </form>
<% end %>

</div>
